{% load static %}

<html>
	<head>
		<title>
		{%block title%}
		Placeholder title
		{%endblock%}
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

		<link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{%static 'chat/stylesheet.css'%}">
		{%block headlinks%}
		{%endblock%}
		<meta charset="UTF-8">
	</head>
	<header>
		{%block header%}
		<div id="header-div">
			<div id="logo-wrapper">
				<h1 id="logo-text">tinmi</h1>
			</div>
			{% if user.is_authenticated %}
			<p id="header-help-text">logged in as {{user.username}} (<a href="{%url 'logout' %}">logout</a>)</p>
			{%else%}
			<p id="header-help-text"><a href="{%url 'login'%}">login</a> or <a href="{%url 'signup' %}">sign up</a></p>
			{%endif%}
		</div>
		{%endblock%}
	</header>
	<body>
	{%block content%}
	Placeholder content
	{%endblock%}
	</body>
	<footer>
	</footer>
	<script>
		{%block script%}
		{%endblock%}
	</script>
</html>
