{% extends 'chat/base.html' %}

{% block title %}
	{{room_title}} | tinmi
{% endblock %}

{%block script%}
	var roomid = {{room_id_json}};
	var chatSocket = new WebSocket(
		'ws://' + window.location.host + '/ws/chat/' + roomid + '/');
	
	var last_msg_time = new Date();

	chatSocket.onmessage = function(e) {
		var data = JSON.parse(e.data);
		var message = data['message'];
		var msg_type = data['type'];
		var sender = data['sender'];
		var colour = data['colour'];
		var d = new Date();

		console.log("Message received")
		console.log(data);

		if (msg_type == "user_msg"){
		var msg_formatted = "<b>["+d.toLocaleTimeString() + "]</b> <span style=\"color:" + colour + "\">"+ sender + "</span>: " + message + '\n';
			$('#chatbox').append($('<p class="chat-msg">' + msg_formatted + '</p>'));
		} else if (msg_type == "server_msg"){
		var msg_formatted = "<b>[" + d.toLocaleTimeString() + "]</b> <i>" + message + "</i>\n";
			$('#chatbox').append($('<p class="chat-msg">' + msg_formatted + '</p>'));
		}
		$("#chatbox").scrollTop($("#chatbox")[0].scrollHeight);
		};
	
	chatSocket.onclose = function(e){
		console.error("Unexcpected close of WebSocket!");	
	};

	document.querySelector('#user-msg-input').focus();
	document.querySelector('#user-msg-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#user-msg-submit').click();
        }
    };
	
	document.querySelector('#user-msg-submit').onclick = function(e) {
		curr_time = new Date();
		if ((curr_time.getTime()-last_msg_time.getTime())/1000 < 0.5){
			console.log("Spam prevented! 0.5 seconds has not passed!");
			last_msg_time = curr_time;
			return;
		}
		last_msg_time = curr_time;
        var messageInputDom = document.querySelector('#user-msg-input');
        var message = messageInputDom.value;
		
		if (message == ""){
		   return;
		}

        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
{%endblock%}

{% block content %}
<h2>{{room_title}}</h2>
<div id="chatbox"></div>
<input id="user-msg-input" type="text" size="100"/><br/>
<input id="user-msg-submit" type="button" value="send"/>
{% endblock %}
