{% extends 'chat/base.html' %}

{%block header%}
{%endblock%}

{% block title %}
tinmi	
{% endblock %}

{% block content %}
<h1 style="font-size: 60px">tinmi</h1>
<p>fast and secure messaging</p>

<div id="signup-login-div" >
<div id="index-login-div">
<form id="loginform" method="post" action="{% url 'login' %}">
	<h2>login</h2>
	{% csrf_token %}
	<p>
		<label>username</label>
		<input type="text" name="username">
	</p>
    <p>
		<label>password</label>
		<input type="password" name="password">
	</p>
	<input type="submit" value="login">
</form>
</div>

<div id="index-signup-div">
	<form method="POST" action="{%url 'signup'%}">
	<h2>sign up</h2>
	{% for error in field.errors %}
	<p class="errortext" id="form-error">{{ error }}</p>
	{% endfor %}
	{%csrf_token%}
	{% for field in signupform %}
		<div class="form-field">
			<p>{{ field.label_tag }} 
			<br>
			{{field}}</p>
		</div>
		{% if field.help_text %}
		  <small class="helptext">{{ field.help_text }}</small>
		{% endif %}
	{% endfor %}
	<br>
	<button type="submit">sign up</button>
</form>
</div>

</div>
{% endblock %}
