{%extends 'chat/base.html'%}
{%load static%}

{%block title%}
tinmi
{%endblock%}

{%block headlinks%}
<script src="{%static 'chat/chatrooms.js'%}"></script>
{%endblock%}

{%block content%}
<div id="main-wrapper">


<div id="chatroom-list">
	<div id="add-room-icon" class="dropdown">
		+	
	</div>
	<div id="add-room-content" class="dropdown-content">
		<p>enter a room id</p>
		<form id="join-room-form">
			<input name="roomid" id="join-room-id" type="text" placeholder="room ID">
			<input id="join-room-submit" type="submit" value="join">
		</form>
		<p>or create a room</p>
		<form id="create-room-form" method="POST">
			{%csrf_token%}
			<input name="room_title" maxlenght="64" id="id_room_title" type="text" placeholder="title">
			<input type="submit" id="room-create-submit"  value="create">
		</form>
	</div>
	{%for room in user.chatroom_set.all%}
	<div class="chatroom-list-elem">
		<span class="room-list-title">{{room.room_title}}</span> <span hidden class="room-id-hidden">{{room.room_id}}</span>
		<div class="list-elem-remove">&#10006;</div>
	</div>
{%endfor%}
</div>

<div id="chatview">
	<h2 id="chat-room-title"></h2>
	<div id="room-share-btn" class="dropdown"><img src="{%static 'chat/share-icon.png'%}" style="width: 29px; height: 29px;" alt="share"></div>
	<div id="room-share-content" class="dropdown-content">room id: <mark id="room-id-mark"></mark></div>
	<div id="chatbox"></div>
	<table id="inputarea">
		<tr>
			<td style="width: 100%;"><input id="user-msg-input" type="text"/><br/></td>
			<td><input id="user-msg-submit" type="button" value="send"/></td>
		</tr>
	</table>
	</div>
</div>
{%endblock%}
