{%extends 'chat/base.html'%}
{%load static%}

{%block title%}
tinmi
{%endblock%}

{%block headlinks%}
<script src="{%static 'chat/chatrooms.js'%}"></script>
{%endblock%}

{%block content%}
<p><a href="{%url 'roomcreate'%}">create a room</a></p>
<div id="main-wrapper">
<div id="chatroom-list">
{%for room in user.chatroom_set.all%}
	<div class="chatroom-list-elem">
		<p class="room_title">{{room.room_title}}</p> <p hidden class="room-id-hidden">{{room.room_id}}</p>
	</div>
{%endfor%}
</div>

<div id="chatview">
	<h2 id="chat-room-title"></h2>
	<div id="chatbox"></div>
	<table id="inputarea">
		<tr>
			<td style="width: 100%;"><input id="user-msg-input" type="text"/><br/></td>
			<td><input id="user-msg-submit" type="button" value="send"/></td>
		</tr>
	</table>
	</div>
</div>
{%endblock%}
