:root {
	--color-one: #ed6a5a;
	--color-two: #f4f1bb;
	--color-three: #9bc1bc;
	--color-four: #5d576b;
	--color-five: #e6ebe0;
	--color-bg-main: #e6ebe0;
}

.errortext {
	color: red;
}

.helptext {
	color: grey;
}

h1, h2, h3{
    font-family: 'Quicksand', sans-serif;
	color: var(--color-one);
}

* {
    font-family: 'Roboto', sans-serif;
	color: var(--color-four);
}

body {
	background-color: var(--color-bg-main);
}
#header-div {
	text-align: right;
	display: block;
}

.form-field {
	display: inline-block;
	text-align: left;
}

.centered, #signup-div{
	margin:auto;
	width: 10%;
}
#signup-login-div {
	margin: 0 auto;
	width: 40%;
}
#index-signup-div {
	margin: auto;
	width: 47.5%;
	float: right;
	border-left: solid black ;
	padding-left: 12.5%;
}
#index-login-div {
	width: 10%;
	float: left;
}
#chatbox {
	text-align: left;
	overflow: auto;
	overflow-y: scroll;
	overflow-wrap: break-word;
	height: 70%;
	width: 100%;
	border-radius: 5%;
	background-color: var(--color-two);
	padding: 10 5 5 5;
}

#add-room-icon{
	text-align: right;
	display: inline-block;
	padding: 0 10 0 10;
	font-size: 32px;
}

#logo-text{
	font-size: 64px;
	color: var(--color-one);
}

.dropdown {
	cursor: pointer;
}

.dropdown:hover{
	background-color: var(--color-three);
}
.add-room-icon-activated {
	background-color: var(--color-three);
}

#inputarea{
	margin-top: 10px;
	width: 100%;
	border-radius: 5%;
	background-color: var(--color-two);
}

#user-msg-input {
	width: 100%;
	padding-right: 0;
}

#user-msg-submit {
	width: 100%;
	text-align: center;
}

#chatview-header {
	width: 100%;
	border-radius: 5%;
}

#main-wrapper {
	width: 100%;
}

#chatroom-list {
	position: absolute;
	width: 21%;
	display:inline-block;
	overflow: auto;
	overflow-y: scroll;
	overflow-wrap: break-word;
	float:left;
	height: 70%; 
	background-color: var(--color-two);
	border-radius: 5%;
}

.chatroom-list-elem{
	padding: 25 25 25 5;
	position:relative;
	//border-bottom: solid 2px grey;
	cursor: pointer;
	z-index: 12;
}

.chatroom-list-elem:hover{
	background-color: var(--color-three);
}

.chatroom-list-elem:hover .list-elem-remove{
	display: inline-block;
}

.list-elem-remove{
	font-size: 32px;
	color: red; 
	padding: 0 5 0 5;
	text-align: right;
	position:absolute;
	right: 5px;
	top: 5px;
	border-radius: 30%;
	display:none;
}

.list-elem-remove:hover {
	background-color: red; 
	color: black;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

#chatview {
	float: right;
	text-align: left;
	margin-top: 0px;
	width:77%;
	border-radius: 4%;
	padding: 10 10 10 10;
}

.chat-msg {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

#logo-wrapper {
	text-align: left;
	margin-top: -40;
}

.dropdown-content {
    display: none;
    position: absolute;
	z-index:100;
	background-color: var(--color-three);
	padding: 5 10 5 10 ;
}

#room-share-content {
	position: relative;
	text-align: right;
	float: right;
}

#room-share-btn {
	display: inline-block;
	float: right;
	margin-right: 5%;
	font-size: 16px;
}
#room-id-mark{
	background-color: var(--color-five);
}

#login-wrapper, #signup-wrapper{
	background-color: var(--color-two);
	border-radius: 40%;
	display: inline-block;
	padding: 0 15 0 15;
}

#header-help-text {
	position: absolute;
	top: 10px;
	right: 0px;
}
