.errortext {
	color: red;
}

.helptext {
	color: grey;
}

h1, h2, h3{
    font-family: 'Quicksand', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}

#header-div {
	text-align: right;
	display: block;
}

.form-field {
	display: inline-block;
	text-align: left;
}

.centered, #signup-div{
	margin:auto;
	width: 10%;
}
#signup-login-div {
	margin: 0 auto;
	width: 40%;
}
#index-signup-div {
	margin: auto;
	width: 47.5%;
	float: right;
	border-left: solid black ;
	padding-left: 3%;
}
#index-login-div {
	width: 10%;
	float: left;
}
#chatbox {
	text-align: left;
	overflow: auto;
	overflow-y: scroll;
	overflow-wrap: break-word;
	height: 70%;
	width: 100%;
}

#add-room-icon{
	text-align: right;
	display: inline-block;
	padding: 0 10 0 10;
	font-size: 32px;
}

.dropdown {
	cursor: pointer;
}

.dropdown:hover{
	background-color: #ccc;
}
.add-room-icon-activated {
	background-color: #ccc;
}

#inputarea{
	width: 100%;
}

#user-msg-input {
	width: 100%;
	padding-right: 0;
}

#user-msg-submit {
	width: 100%;
	text-align: center;
	border: none;
	background-color: grey;
	padding: 8 10 8 10;
}


#main-wrapper {
	width: 100%;
}

#chatroom-list {
	position: absolute;
	width: 21%;
	display:inline-block;
	overflow: auto;
	overflow-y: scroll;
	overflow-wrap: break-word;
	float:left;
	background: white;
	height: 70%; 
}

//.chatroom-list-elem:nth-child(odd) {background: grey;}

.chatroom-list-elem{
	padding: 25 25 25 5;
	position:relative;
	border-bottom: solid 2px grey;
	cursor: pointer;
	z-index: 12;
}

.chatroom-list-elem:hover{
	background-color: grey;
}

.chatroom-list-elem:hover .list-elem-remove{
	display: inline-block;
}

.list-elem-remove{
	font-size: 32px;
	color: red;
	padding: 0 5 0 5;
	text-align: right;
	position:absolute;
	right: 5px;
	top: 5px;
	border-radius: 30%;
	display:none;
}

.list-elem-remove:hover {
	background-color: red; 
	color: black;
}



::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

#chatview {
	float: right;
	text-align: left;
	margin-top: 0px;
	width:77%;
}

.chat-msg {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

#logo-wrapper {
	text-align: left;
	margin-top: -40;
	position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
	z-index:100;
    background: #ccc;
	padding: 5 10 5 10 ;
}

#room-share-content {
	position: relative;
	text-align: right;
	float: right;
}

#room-share-btn {
	display: inline-block;
	float: right;
	margin-right: 5%;
	font-size: 16px;
}
#room-id-mark{
	background-color: darkgrey;
}
